/node_modules
/public/hot
/public/storage
/vendor
/storage/oauth-private.key
/storage/oauth-public.key
.idea
.env
.env.backup
.phpunit.result.cache
document
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
