body {
    position: relative;
    height: 100vh;
}

.login-wrapper {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00353a;
}

#login-form {
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 3px #eee;
}

#login-form span {
    background: #00353a;
    color: #00bacc;
    border: none;
}

#login-form .form-control {
    background: #00353a;
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 0px;
    color: #fff3cd;
    font-size: 10pt;
}

#login-form .form-control:focus {
    background: #00353a;
    border: none;
    border-bottom: 1px solid #00bacc;
    border-radius: 0px;
    box-shadow: none;
    transition: 0.5s;
}

.custom-btn, .custom-btn:active {
    box-shadow: none;
    border: 1px solid #00bacc !important;
    background: #00bacc !important;
    color: #eee;
}

#side-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: inherit;
    width: 200px;
    background: #00353a;
    transition: 0.5s;
    z-index: 20;
}

#logo-container {
    height: 100px;
    width: 150px;
    border: 1px solid white;
    margin: 10px auto;
}

#side-menu .menu {
    list-style-type: none;
    margin-top: 30px;
    padding: 0;
}

#side-menu .menu-item {
    margin-bottom: 2px;
}

#side-menu .menu-item a {
    color: #eeeeee;
    text-decoration: none;
    font-size: 10pt;
    display: flex;
    padding: 10px 5px;
}

#side-menu .menu-item a:hover, #side-menu .menu-item.active {
    background: #00272a;
}

#side-menu .menu-item .icon {
    font-size: 20px;
    flex-basis: 15%;
    text-align: center;
    color: #00bacc;
}

@media (max-width: 767px) {
    #side-menu {
        display: none;
    }
}

#navbar {
    background: #00353a;
}

#navbar .navbar-brand {
    color: #eee;
}

#navbar .nav-item a {
    color: #eee;
    font-size: 10pt;
}

@media (min-width: 767px) {
    #navbar {
        display: none;
    }
}

#main {
    position: relative;
    margin-left: 200px;
    height: inherit;
    transition: 0.5s;
    overflow-x: hidden;
    font-size: 10pt;
}

@media (max-width: 767px) {
    #main {
        margin-left: 0px;
        transition: 0.5s;
    }
}

.search-form input[type='text'] {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.search-form input[type='text']:focus {
    box-shadow: 0 0 2px #00bacc;
}

table {
    font-size: 10pt;
}

.breadcrumb {
    font-size: 11pt;
}

.modal {
    overflow-y: auto !important;
}

div.options {
    display: flex;
    justify-content: center;
}

.option-link {
    color: #00353a;
    border: 1px solid #00353a;
    border-radius: 30px;
    padding: 5px 7px;
    margin-left: 5px;
    font-size: 10pt;
}

@media (max-width: 768px) {
    .option-link i {
        display: none;
    }
}

.option-link:hover {
    text-decoration: none;
    color: #1e1e1e;
    background: #00bacc;
    border: 1px solid #fff;
    color: #fff;
}

.pagination .page-item .page-link {
    margin: 2px;
    border-radius: 50%;
    color: #555;
    font-size: 11pt;
    border: 1px solid #9a9a9a;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background: #00bacc;
    border: 0;
}

form {
    padding: 0 15px;
    font-size: 11pt;
}

.popover {
    background-color: #00bacc;
}

.dropdown-item {
    font-size: 10pt;
}

.discounts-container {
    border: 1px solid #cccccc;
    box-shadow: 0 0 2px #ccc;
    border-radius: 5px;
    padding: 10px;
}

.value {
    color: #00bacc;
    font-weight: bolder;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#inventoryInfo {
    border: 1px dashed #00bacc;
    border-radius: 10px;
}

#inventoryInfo .description {
    border: 1px dashed grey;
    border-radius: 10px;
    height: 70px;
}

#customer-container{
    position: relative;
}

#customer-list li{
    cursor: pointer !important;
}

